
body{
    line-height: 1.5;
    border:0;
    outline: 0;
    vertical-align: baseline;
    width: 768px;
    margin: auto;
}

h2{
    color:red;
}

div{
    margin-left: auto;
    margin-right: auto;
}

.top-bar{
    border-top: 4px solid #FF6600;
    overflow: hidden;
    display: block;
}

.top-bar h1 {
    font-size: 34px;
    color: #fff;
    float: left;
    background: #FF6600;
    font-weight: 400;
    margin: 0 0 0 4%;
    padding: 0 20px 4px;
    display: block;
}

.article-main__header h1 {
    font-size: 24px;
}

.article-main__bodyer{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
}

iframe{
    height:380px;
    width:600px;
}

.fixed-banner{
    display: none;
}

#player{
    margin: 0 !important;
}